<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.wanwei.provider.sys.mapper.UserMapper">


    <!-- 查找用户信息 -->
	<select id="findAllUser" resultType="com.wanwei.provider.sys.entity.User">
       select * from sys_user
    </select>
	<!--根据登录名查询用户信息-->
	<select id="selectUserByLoginName" resultType="com.wanwei.provider.sys.entity.User">
        select id,login_name,user_name,password,fail_num,enable_state,expire_time,fail_date ,product_group_id,super_admin,group_admin from sys_user
        where delete_flag =0 and login_name = #{loginName}
        limit 1
    </select>

    <!--查询所有用户（管理员）信息-->
    <select id="selectAdminList" resultType="com.wanwei.provider.sys.dto.AdminDTO">
        select a.*,b.name FROM sys_user as a
        LEFT JOIN tb_product_group as b on a.product_group_id = b.id
        where a.delete_flag = 0 and a.group_admin = 0 and a.super_admin =1 order by a.create_time desc
    </select>

    <select id="getPassword" resultType="java.lang.String">
        select password from sys_user where  id=#{userId}
    </select>
    <select id="queryUserInfo" resultType="java.util.Map">
        select
            id,
            user_name userName,
            login_name loginName,
            phone phone,
            expire_time expireTime,
            enable_state enableState,
            case group_admin when '0' then 'true' when '1' then 'false' end groupAdmin,
            mark mark
        from
             sys_user
        where  id=#{id}
    </select>
    <select id="getUserInfo" resultType="java.util.Map">
        SELECT
            u.id,
            u.login_name loginName,
            u.user_name userName,
            u.phone,
            u.mark,
            u.enable_state enableState,
            u.user_img userImg,
            case u.super_admin when '0' then 'true' when '1' then 'false' end superAdmin,
            case u.group_admin when '0' then 'true' when '1' then 'false' end groupAdmin,
            u.user_img userImg,
            u.product_group_id productId,
            tbg.name productName,
            tbg.web_name webName,
            tbg.web_icon webIcon,
            tbg.version_name versionName
        FROM
            sys_user u
                LEFT JOIN tb_product_group tbg ON tbg.id = u.product_group_id
        where
            u.id=#{userId}
    </select>
    <select id="getGroup" resultType="java.lang.String">
        SELECT product_group_id  from sys_user WHERE id=#{userId}
    </select>
    <select id="getUserList" resultType="java.util.Map">
        select
               u.id,
               login_name loginName,
               user_name userName,
               phone,
               enable_state enableState,
               super_admin superAdmin,
               case group_admin when '0' then 'true' when '1'then 'false' end  groupAdmin,
               u.product_group_id productGroupId,
               pg.name productGroupName,
               GROUP_CONCAT(r.id) roleId,
               GROUP_CONCAT(r.name)  roleName
        from
        sys_user u
        left join sys_user_role ur on ur.user_id=u.id
        LEFT JOIN sys_role r on r.id=ur.role_id
        LEFT JOIN tb_product_group pg on pg.id=u.product_group_id
        WHERE 1=1
        and u.delete_flag=0
        and u.id!='ADMIN'

            and u.group_admin !='0'

        <choose>
            <when test="superAdmin!=0">
                and	u.product_group_id=#{productGroupId}
            </when>
            <otherwise>
            </otherwise>
        </choose>
            <if test="loginName!=null and loginName != '' ">
              and  u.login_name like concat('%',#{loginName},'%')
            </if>
            <if test="userName !=null and userName!='' ">
               and u.user_name like concat('%',#{userName},'%')
            </if>
        GROUP BY u.id
    </select>
    <select id="queryRole" resultType="java.util.Map">
        SELECT
            r.id,
            r.`name` name
        FROM
            sys_role  r
        WHERE
           1=1
         and   r.product_group_id= #{productGroupId}


    </select>

    <delete id="deleteUser">
        delete  from sys_user where id=#{id}
    </delete>
    <delete id="deleteUserRole">
        delete  from sys_user_role where user_id=#{id}
    </delete>
    <update id="loginUserUpdate">
        update sys_user set user_name=#{userName}, phone=#{phone}, mark=#{mark},user_img=#{userImg} where id=#{id}
    </update>
</mapper>